/*Seleção 1*/
html,
body {
  font-family: 'serif';
}
a {
  cursor: pointer;
  text-decoration: none;
}
.modal-body {
  background-color: #f3b300;
}
.modal-header,
.modal-footer {
  background-color: #ffca4c;
}
.btn-success {
  background-color: #007f2a;
}
.btn-danger {
  background-color: #7f0002;
}
.btn-warning {
  background-color: #f3b300;
}
.btn-info {
  background-color: #00707f;
}
.btn-primary {
  background-color: #000e7f;
}
