/*Seleção 1*/
$color1 = #282c34;
$color2 = #7f5900;
$color3 = #7f6526;
$color4 = #cc8f00;
$color5 = #F3B300;
$color6 = #ffca4c;
$color7 = #eeeeee;

$color8 = #007F2A;
$color9 = #7F0002;
$color10 = #00707F;
$color11 = #000E7F;
