@import "../global.styl";
// @font-face
	// font-family: "Adventure_";
	// src: url("/fonts/adventure/Adventure.otf") format("truetype");

$font = 'serif';
// $font = 'Adventure_';
// $font = arial;

html, body
	margin:0;
	padding: 0;
	font-family: $font;
	height: 100%;
	main
		position: relative;
		min-height: 100%;
		background-color: #bbb;		
	a
		cursor: pointer;
		text-decoration: none;

	.modal-body
		background-color: $color5;

	.modal-header, .modal-footer
		background-color: $color6;

	.btn-success
		background-color: $color8;

	.btn-danger
		background-color: $color9;

	.btn-warning
		background-color: $color5;

	.btn-info
		background-color: $color10;

	.btn-primary
		background-color: $color11;
